body {
    font-family: 'Shadows Into Light', cursive;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

img {
    height: 200px;
    width: 200px;
    margin-right: 100px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;