section#photo-template {
  display: none;
}

h2 {
  text-align: left;
}

button {
  border-color: black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 100;
  height: 40px;
  margin-right: 50px;
  width: 40px;
  
}

header {
  text-align: center;
}

div p {
  width: 200px;
  height: 200px;
  overflow: hidden;
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  display: inline;
  text-align: center;
}

footer {
  clear: both;
  text-align: center;
  margin-top: 50px;
}

